.submit-button {
  background-color:rgb(58, 195, 254);
  color: white;
  font-weight: bold;
  font-size: medium;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 33%;
}

.submit-button:hover {
  background-color: rgb(0, 120, 220);
}
